<div align="center">

# Some Stars

[![Auth](https://img.shields.io/badge/Auth-lkeme-ff69b4?logo=github)](https://github.com/lkeme)
[![GitHub Pull Requests](https://img.shields.io/github/stars/lkeme/some-stars?logo=Undertale)](https://github.com/lkeme/some-stars/stargazers)
[![HitCount](https://views.whatilearened.today/views/github/lkeme/some-stars.svg)](https://github.com/lkeme/some-stars)
[![GitHub license](https://img.shields.io/github/license/lkeme/some-stars)](https://github.com/lkeme/some-stars/blob/main/LICENSE)

⭐ 我的star列表，每天自动更新 ⭐

<div style="width:auto;margin: 0 auto;">
  <a href="https://rsshub.app/github/starred_repos/lkeme"  target="_blank" title="基于rsshub的订阅">RSS订阅</a>
</div>


<img src="https://cdn.jsdelivr.net/gh/eryajf/tu@main/img/image_20240420_214408.gif" width="800"  height="3">
</div><br>


## Table of Contents

<% for(let [language, repositories] of stars) { %>
## <%= language %>
  <% for(let repo of repositories) { %>
- [<%= repo.full_name %>](<%= repo.html_url %>) - <%= repo.description %>
  <% } %>
<% } %>

## Thanks

- generated with [simonecorsi/mawesome](https://github.com/simonecorsi/mawesome)
- modified from [rcy1314/some-starts](https://github.com/rcy1314/some-stars)
- By [lkeme/some-starts](https://github.com/lkeme/some-stars)